{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="QuentomuApp">
<head>
	<title>Quentomu</title>
	<link rel="stylesheet" type="text/css"
		href="{% static 'foundation/css/foundation.css'%}">
	<link rel="stylesheet" type="text/css"
		href="{% static 'main.css'%}">
	<script type="text/javascript"
		src="{% static 'angular/angular.js'%}">
	</script>
</head>
<body class="gray">
	<div class="panel white">
		<span> Quentomu </span>
		<a href="/admin/logout"> Log Out </a>
	</div>
	<div class="row" ng-controller="TopicsCtrl as Topic">
		<h1> Stories </h1>
		<input type="search" class="searchbox"
			ng-model="Topic.search" placeholder="Search"/>
		<div class="small-4 column"
			ng-repeat="topic in Topic.values|filter:Topic.search">
			<div class="panel white">
				<h4>
					<a href="/topics/{[ topic.id ]}">
						{[ topic.title ]}
					</a>
				</h4>
				<p> {[ topic.body ]} </p>
				<small> {[ topic.posts_count ]} posts</small>
			</div>
		</div>
	</div>
	<div class="panel white" ng-controller="ConversationsCtrl as Conversation">
		<div class="row">
			<h1>Messages</h1>
			<div class="small-4 column"
				ng-repeat="conversation in Conversation.values">
				<div class="panel white chatbox">
					<b>
						{[ Conversation.getFriendName(conversation.friend)]}
					</b>
					<div class="chat"
						ng-repeat="message in conversation.messages"
						ng-class="{reply: ! message.you}">
						{[ message.content ]}
					</div>
					<form ng-submit="Conversation.send(conversation)">

						<input type="text" ng-model="conversation.reply"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'quentomu.js' %}"></script>
</body>
</html>
