{% load staticfiles %}

<!DOCTYPE>
<html>
	<head>
		<title>Quentomu</title>
		<link rel="stylesheet" type="text/css"
			href="{% static 'foundation/css/foundation.css'%}">
		<link rel="stylesheet" type="text/css"
			href="{% static 'main.css'%}">
	</head>
	<body>
		<div class="row">
			<div class="medium-6 column">
				<div class="panel white">
					Test
					<a href="/admin/login"> Login </a>
				</div>
			</div>
			<div class="medium-6 column">
				<div class="panel white">
					Test 2
					<a href="/admin/login"> Login </a>
				</div>
			</div>
		</div>
	</body>
</html>
