<!DOCTYPE>
<html>
<title>Register</title>
		<link rel="stylesheet" type="text/css"
			href="{% static 'foundation/css/foundation.css'%}">
		<link rel="stylesheet" type="text/css"
			href="{% static 'main.css'%}">
		<script type="text/javascript"
			src="{% static 'jquery.min.js' %}"></script>
		<script type="text/javascript"
			src="{% static 'foundation/js/foundation.min.js' %}"></script>
		<script type="text/javascript"
			src="{% static 'foundation/js/foundation/foundation.orbit.js' %}"></script>

<body>
	<div  class="panel white">
	Registration
	</div>
	<div class="row">
		<div class="small-4 column">
			<label>username
        		<input type="text" placeholder="username" />
      		</label>
		</div>
		<div class="small-4 column">
			<label>password
        		<input type="password" placeholder="password" />
      		</label>
		</div>
		<div class="small-4 column">
			<label>email
        		<input type="email" placeholder="email" />
      		</label>
		</div>
		<div class="small-4 column">
			<label>
        		<input type="password" placeholder="password" />
      		</label>
		</div>
		</div>

</div>
</body>
</html>
