.white {
	background-color: #fff;
}

.quentomu-color {
	background-color: #003;
	font-size: 22px;
}

body {
	background-color: #eee;
}

.chat {
	color: black;
}

.text {
	color: orange;
}

.reply {
	text-align: right;
}

.chatbox {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 300px;
	white-space:nowrap
}

.no-margin {
	margin: 0px;
}

.logo {
	height: 40px;
}
