.white {
	background-color: #fff;
}

.gray {
	background-color: #eee;
}

.chat {
	color: black;
}

.text {
	color: orange;
}

.reply {
	text-align: right;
}

.chatbox {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 300px;
	white-space:nowrap
}
